<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<title>Boxes | Timber Framework</title>
	<link rel="shortcut icon" type="image/x-icon" href="../images/theme-mountain-favicon.ico">
	
	<!-- Css -->
	<link rel="stylesheet" href="../css/timber.css" />
	<link rel="stylesheet" href="../css/style.css" />

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

	<!-- Mobile Menu -->
	<aside id="mobile-access" class="side-navigation-wrapper enter-right">
		<div class="side-navigation-header">
			<div class="logo">
				<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
			</div>
			<div id="side-nav-hide" class="navigation-hide">
				<a href="#">
					<span class="icon-cancel medium"></span>
				</a>
			</div>
		</div>
		<nav class="side-navigation">
			<ul>
				<li>
					<a href="../index.html">Get Started</a>
				</li>
				<li>
					<a href="#" class="contains-sub-menu">Components</a>
					<ul class="sub-menu">
						<li>
							<a href="grid.html">Grid</a>
						</li>
						<li>
							<a href="typography.html">Typography</a>
						</li>
						<li>
							<a href="navigation.html">Navigation</a>
						</li>
						<li>
							<a href="blockquotes.html">Blockquotes</a>
						</li>
						<li>
							<a href="feature-columns.html">Feature Columns</a>
						</li>
						<li>
							<a href="lists.html">Lists</a>
						</li>
						<li>
							<a href="buttons.html">Buttons</a>
						</li>
						<li>
							<a href="labels.html">Labels</a>
						</li>
						<li>
							<a href="dropdown.html">Dropdown</a>
						</li>
						<li>
							<a href="accordion.html">Accordion  <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="tabs.html">Tabs <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li class="current">
							<a href="boxes.html">Boxes</a>
						</li>
						<li>
							<a href="images.html">Images <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="video.html">Video &amp; Audio</a>
						</li>
						<li>
							<a href="tables.html">Tables</a>
						</li>
						<li>
							<a href="pricing-tables.html">Pricing Tables</a>
						</li>
						<li>
							<a href="form-elements.html">Form Elements</a>
						</li>
						<li>
							<a href="icons.html">Icons <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="contains-sub-menu">Classes</a>
					<ul class="sub-menu">
						<li>
							<a href="styling-classes.html">Styling Classes</a>
						</li>
						<li>
							<a href="helper-classes.html">Helper Classes <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="contains-sub-menu">Plugins</a>
					<ul class="sub-menu">
						<li>
							<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">The Mountain</a>
				</li>
			</ul>
		</nav>
	</aside>
	<!-- Mobile Menu End -->

	<div class="wrapper">
		
		<!-- Header -->
		<header class="nav-bar reveal-side-navigation">
			<div class="row">
				<div class="column width-12">
					<div class="logo">
						<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
					</div>
					<div id="side-nav-show" class="navigation-show">
						<a href="#">
							<span class="icon-menu medium"></span>
						</a>
					</div>
					<nav class="navigation nav-right">
						<ul>
							<li>
								<a href="../index.html">Get Started</a>
							</li>
							<li class="current">
								<a href="components/grid.html">Toolkit</a>
							</li>
							<li>
								<a href="http://thememountain.com">The Mountain</a>
							</li>
							<li>
								<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<!-- Header End -->

		<!-- Content -->
		<div class="content clearfix reveal-side-navigation">
			<div class="section-header fill-background">
				<div class="page-title-container row large">
					<div class="column width-12">
						<h1>Boxes</h1>
					</div>
				</div>
			</div>
			<div class="row large">
				<div class="column width-9 push-3">
					<h2 id="intro">Regular Boxes</h2>
					<p>Boxes can be styled in a variety of ways to achieve the look required by using a combination of size class, background color/border-color, text color classes and border style classes. See <a href="styling-classes.html">Styling Classes</a> for more examples.</p>
					<p>Boxes also work with notification classes such as <span class="label border-green color-green rounded">.success</span>, <span class="label border-green color-green rounded">.info</span>, <span class="label border-green color-green rounded">.alert</span>, and <span class="label border-green color-green rounded">.warning</span>.</p>
					<div class="box large">
						This is a regular box
					</div>
					<div class="box large bkg-navy color-white">
						This is a box with a background color class called <span class="label border-white rounded">.bkg-navy</span> and a color class called <span class="label border-white rounded">.color-white</span>
					</div>
					<div class="box large border-green-light">
						This is a box with a border color class called <span class="label border-green-light rounded">.border-green-light</span>
					</div>
					<div class="box large success">
						This is a <strong>success</strong> box
					</div>
					<div class="box large info">
						This is an <strong>info</strong> box
					</div>
					<div class="box large alert">
						This is an <strong>alert</strong> box
					</div>
					<div class="box large warning">
						This is a <strong>warning</strong> box
					</div>
					<h5>HTML</h5>
					<div class="box large rounded xlarge">
						<pre><code class="html"><span class="tag">&lt;<span class="type">div</span>&#160;<span class="att">class=</span><span class="val">"box bkg-navy"</span>><br>&#160;<span class="type"></span>Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovations.<br>&#160;&lt;<span class="type">cite</span><span class="val"></span>>Steve Jobs&lt;<span class="type">/cite></span><br>&lt;<span class="type">/div></span></span></code></pre>
					</div>
					<hr>
					<h2 id="dismissable">Dismissable Boxes</h2>
					<p>All boxes can be made dismissable by adding the <span class="label border-green color-green rounded">.dismissable</span> class to the box wrapper.</p>
					<div class="box large dismissable">
						This is a regular dismissable box
					</div>
					<div class="box large bkg-navy color-white dismissable">
						This is a dismissable box with a background color class called <span class="label border-white rounded">.bkg-navy</span> and a color class called <span class="label border-white rounded">.color-white</span>
					</div>
					<div class="box large border-green-light dismissable">
						This is a dismissable box with a border color class called <span class="label border-green-light rounded">.border-green-light</span>
					</div>
					<div class="box large success dismissable">
						This is a dismissable <strong>success</strong>.
					</div>
					<div class="box large info dismissable">
						This is a dismissable <strong>info</strong>.
					</div>
					<div class="box large alert dismissable">
						This is an dismissable <strong>alert</strong>.
					</div>
					<div class="box large warning dismissable">
						This is a dismissable <strong>warning</strong>.
					</div>
					<hr>
					<h2 id="styling">Addtional Styles</h2>
					<p>Boxes can be styled further with rounded corners and altered in size. To add rounded corners simply add the  <span class="label border-green color-green rounded">.rounded</span> class to the box wrapper. To alter size simply add <span class="label border-green color-green rounded">.small</span>, <span class="label border-green color-green rounded">.medium</span>, <span class="label border-green color-green rounded">.large</span> or <span class="label border-green color-green rounded">.xlarge</span> classes to the box wrapper. See <a href="styling-classes.html">Styling Classes</a> for more examples.</p>
					<div class="box small rounded">
						This is a small box
					</div>
					<div class="box rounded">
						This is a medium sized box
					</div>
					<div class="box large rounded">
						This is a large box
					</div>
					<div class="box xlarge rounded no-margin-bottom">
						And this is an extra large box
					</div>
				</div>
				<aside class="sidebar column width-3 pull-9">
					<h3 class="widget-title">Components</h3>
					<ul class="list-group dashed width-11">
						<li>
							<a href="grid.html">Grid</a>
						</li>
						<li>
							<a href="typography.html">Typography</a>
						</li>
						<li>
							<a href="navigation.html">Navigation</a>
						</li>
						<li>
							<a href="blockquotes.html">Blockquotes</a>
						</li>
						<li>
							<a href="feature-columns.html">Feature Columns</a>
						</li>
						<li>
							<a href="lists.html">Lists</a>
						</li>
						<li>
							<a href="buttons.html">Buttons</a>
						</li>
						<li>
							<a href="labels.html">Labels</a>
						</li>
						<li>
							<a href="dropdown.html">Dropdown</a>
						</li>
						<li>
							<a href="accordion.html">Accordion  <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="tabs.html">Tabs <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li class="current">
							<span class="icon-right-open-mini"></span>
							<a href="boxes.html">Boxes</a>
						</li>
						<li>
							<a href="progress-bar.html">Progress Bars</a>
						</li>
						<li>
							<a href="images.html">Images <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="video.html">Video &amp; Audio</a>
						</li>
						<li>
							<a href="tables.html">Tables</a>
						</li>
						<li>
							<a href="pricing-tables.html">Pricing Tables</a>
						</li>
						<li>
							<a href="form-elements.html">Form Elements</a>
						</li>
						<li>
							<a href="icons.html">Icons <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
					</ul>
					<h3 class="widget-title">Classes</h3>
					<ul class="list-group dashed width-11">
						<li>
							<a href="styling-classes.html">Styling Classes</a>
						</li>
						<li>
							<a href="helper-classes.html">Helper Classes <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
					</ul>
					<h3 class="widget-title">Plugins</h3>
					<ul class="list-group dashed width-11">
						<li>
							<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
					</ul>
				</aside>
			</div>
		</div>
		<!-- Content End -->

		<!-- Footer -->
		<footer class="reveal-side-navigation">
			<div class="row large center">
				<div class="column width-12">
					<img src="../images/theme-mountain-logo.svg" alt="Theme Mountain" />
					<p class="footer-text">Handcrafted with <span class="icon-heart"></span> in the mountains.</p>
					<nav id="footer-navigation" class="navigation nav-center">
						<ul>
							<li>
								<a href="../index.html">Get Started</a>
							</li>
							<li class="current">
								<a href="grid.html">Toolkit</a>
							</li>
							<li>
								<a href="http://thememountain.com">The Mountain</a>
							</li>
							<li>
								<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
							</li>
						</ul>
					</nav>
					<p><span class="version-number">Current Version 1.0</span></p>
					<p class="copyright">&copy; 2014 THEME MOUNTAIN. <br>Framework licenced under MIT, plugins under CC BY-NC 3.0 unless otherwise specified.</p>
					<a href="#" class="scroll-to-top icon-up bkg-hover-white"></a>
				</div>
			</div> 
		</footer>
	</div>
	<!-- End Footer -->

	<!-- Js -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../js/timber.master.min.js"></script>
</body>
</html>