<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<title>Horizon Reveal | Timber Framework</title>
	<link rel="shortcut icon" type="image/x-icon" href="../images/theme-mountain-favicon.ico">
	
	<!-- Css -->
	<link rel="stylesheet" href="../css/timber.css" />
	<link rel="stylesheet" href="../css/style.css" />
	<link rel="stylesheet" href="../css/horizon.css" />

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

	<!-- Mobile Menu -->
	<aside id="mobile-access" class="side-navigation-wrapper enter-right">
		<div class="side-navigation-header">
			<div class="logo">
				<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
			</div>
			<div id="side-nav-hide" class="navigation-hide">
				<a href="#">
					<span class="icon-cancel medium"></span>
				</a>
			</div>
		</div>
		<nav class="side-navigation">
			<ul>
				<li>
					<a href="../index.html">Get Started</a>
				</li>
				<li>
					<a href="#" class="contains-sub-menu">Components</a>
					<ul class="sub-menu">
						<li>
							<a href="grid.html">Grid</a>
						</li>
						<li>
							<a href="typography.html">Typography</a>
						</li>
						<li>
							<a href="navigation.html">Navigation</a>
						</li>
						<li>
							<a href="blockquotes.html">Blockquotes</a>
						</li>
						<li>
							<a href="feature-columns.html">Feature Columns</a>
						</li>
						<li>
							<a href="lists.html">Lists</a>
						</li>
						<li>
							<a href="buttons.html">Buttons</a>
						</li>
						<li>
							<a href="labels.html">Labels</a>
						</li>
						<li>
							<a href="dropdown.html">Dropdown</a>
						</li>
						<li>
							<a href="accordion.html">Accordion  <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="tabs.html">Tabs <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="boxes.html">Boxes</a>
						</li>
						<li>
							<a href="images.html">Images <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="video.html">Video &amp; Audio</a>
						</li>
						<li>
							<a href="tables.html">Tables</a>
						</li>
						<li>
							<a href="pricing-tables.html">Pricing Tables</a>
						</li>
						<li>
							<a href="form-elements.html">Form Elements</a>
						</li>
						<li>
							<a href="icons.html">Icons <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="contains-sub-menu">Classes</a>
					<ul class="sub-menu">
						<li>
							<a href="styling-classes.html">Styling Classes</a>
						</li>
						<li>
							<a href="helper-classes.html">Helper Classes <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="contains-sub-menu">Plugins</a>
					<ul class="sub-menu">
						<li>
							<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li class="current">
							<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">The Mountain</a>
				</li>
			</ul>
		</nav>
	</aside>
	<!-- Mobile Menu End -->

	<div class="wrapper">
		
		<!-- Header -->
		<header class="nav-bar reveal-side-navigation">
			<div class="row">
				<div class="column width-12">
					<div class="logo">
						<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
					</div>
					<div id="side-nav-show" class="navigation-show">
						<a href="#">
							<span class="icon-menu medium"></span>
						</a>
					</div>
					<nav class="navigation nav-right">
						<ul>
							<li>
								<a href="../index.html">Get Started</a>
							</li>
							<li class="current">
								<a href="components/grid.html">Toolkit</a>
							</li>
							<li>
								<a href="http://thememountain.com">The Mountain</a>
							</li>
							<li>
								<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<!-- Header End -->

		<!-- Content -->
		<div class="content clearfix reveal-side-navigation">
			<div class="section-header fill-background">
				<div class="page-title-container row large">
					<div class="column width-12">
						<h1>Horizon</h1>
					</div>
				</div>
			</div>
			<div class="row large">
				<div class="column width-9 push-3">
					<h2 id="horizon">Reveal on Scroll</h2>
					<p>Horizon is a small plugin that reveals elements upon entering the viewport using CSS3 transitions. It can be applied to any element of the page and by using the data-attribute <span class="label border-green color-green rounded">data-animate-in</span> we can deterimine how the element is revealed. Scroll down and back up to see horizon in action. </p>
					<hr>
					<div class="row">
						<div class="column width-12">
							<div class="box rounded horizon" data-animate-in="scale:1.4;duration:1000ms;">
								<h5>Scaling In</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="column width-6">
							<div class="box rounded horizon" data-animate-in="transX:-50;">
								<h5>Enters Left</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
							</div>
						</div>
						<div class="column width-6">
							<div class="box rounded horizon" data-animate-in="transX:50;">
								<h5>Enter Right</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="column width-6">
							<div class="box rounded horizon" data-animate-in="transY:-50;">
								<h5>Enters Top</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
							</div>
						</div>
						<div class="column width-6">
							<div class="box rounded horizon" data-animate-in="transY:50;">
								<h5>Enters Bottom</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
							</div>
						</div>
					</div>
					<div class="box rounded horizon" data-animate-in="rotateX:-180;rotateY:180;rotateZ:180;duration:1000ms;">
						<h5>Rotates In</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
					</div>
					<hr>
					<h3 id="resource-files">Resource Files</h3>
					<p>Snowbridge requires the following resource files:</p>
					<h5>CSS</h5>
					<p>Although no stylesheet is required for the horizon plugin, it is recommended to set the opacity of parallax wrapper to 0, which will prevent flickering if the element is within the viewport upon page load.</p>
					<div class="box large rounded horizon" data-animate-in="scale:1.3;duration:1000ms;">
						<pre><code class="css"><span class="tag">.horizon{<span class="att"> opacity:</span><span class="val">"0"; </span>}</span></code></pre>
					</div>
					<h5>JS</h5>
					<p>jQuery v.1.11+ and jquery.tm.horizon.min.js should be included before the ending body tag.</p>
					<div class="box large rounded horizon" data-animate-in="scale:1.3;duration:1000ms;">
						<pre><code class="js"><span class="tag">&lt;script<span class="att"> type=</span><span class="val">"text/javascript" </span><span class="att">src=</span><span class="val">"http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"</span>>&lt;/script><br>&lt;<span>script</span><span class="att"> type=</span><span class="val">"text/javascript" </span><span class="att">src=</span><span class="val">"js/jquery.tm.horizon.min.js"</span>>&lt;/script></span></code></pre>
					</div>
					<hr>
					<h3 id="element-animation-attr">Element Animation Data Attribute</h3>
					<p>The way in which an element transitions to its position can be controlled using the <span class="label border-green color-green rounded">data-animate-in</span> attribute. Transition parameters are listed as follows:
					<div class="box large rounded">
						<pre><code class="html"><span class="tag">&lt;<span>div</span><span class="att"> data-animate-in=</span><span class="val">"opacity:0;transX:500px:scale:1.3;" </span><span class="att">class=</span><span class="val">"horizon"</span>>Content&lt;/div></span></code></pre>
					</div>
					<table class="table rounded large">
						<thead>
							<tr>
								<th>Attribute</th>
								<th>Values</th>
								<th>Default</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Opacity</td>
								<td>0 - 1</td>
								<td>0</td>
								<td>Sets starting opacity of caption</td>
							</tr>
							<tr>
								<td>transX</td>
								<td>-/+ number</td>
								<td>0</td>
								<td>Sets initial position of caption on x axis, entered as <em>500px</em> or <em>500</em></td>
							</tr>
								<tr>
								<td>transY</td>
								<td>-/+ number</td>
								<td>0</td>
								<td>Sets initial position of caption on y axis, entered as <em>500px</em> or <em>500</em></td>
							</tr>
							<tr>
								<td>transZ</td>
								<td>-/+ number</td>
								<td>0</td>
								<td>Sets initial position of caption on z axis, entered as <em>500px</em> or <em>500</em></td>
							</tr>
							<tr>
								<td>rotateX</td>
								<td>-/+ number</td>
								<td>0</td>
								<td>Sets initial rotation of caption on x axis, entered as <em>180deg</em> or <em>180</em></td>
							</tr>
							<tr>
								<td>rotateY</td>
								<td>-/+ number</td>
								<td>0</td>
								<td>Sets initial rotation of caption on y axis, entered as <em>180deg</em> or <em>180</em></td>
							</tr>
							<tr>
								<td>rotateZ</td>
								<td>-/+ number</td>
								<td>0</td>
								<td>Sets initial rotation of caption on z axis, entered as <em>180deg</em> or <em>180</em></td>
							</tr>
							<tr>
								<td>scale</td>
								<td>number</td>
								<td>1</td>
								<td>Sets initial scale of caption, where 1 is no scaling</td>
							</tr>
							<tr>
								<td>duration</td>
								<td>milliseconds</td>
								<td>700ms</td>
								<td>Sets duration of transition, entered as <em>700ms</em> or <em>700</em></td>
							</tr>
							<tr>
								<td>delay</td>
								<td>milliseconds</td>
								<td>0ms</td>
								<td>Sets delay before transitiosn starts, entered as <em>700ms</em> or <em>700</em></td>
							</tr>
							<tr>
								<td>easing</td>
								<td>string</td>
								<td>swing</td>
								<td>Sets easing type of transition, click <a href="#">here</a> to see easing types</td>
							</tr>
						</tbody>
					</table>
					<hr>
					<h3 id="usage">Horizon Usage</h3>
					<p>To call the Horizon plugin on one or multiple elements the following call should be added before the closing body tag on document ready.</p>
					<div class="box large rounded">
						<pre><code class="js"><span class="tag">$( <span class="att">document</span> ).ready( function({<br>&#160;$(<span class="att"> '.horizon' </span>).horizon()<br>});</span></code></pre>
					</div>
					<table class="table rounded large">
						<thead>
							<tr>
								<th>Attribute</th>
								<th>Values</th>
								<th>Default</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>easing</td>
								<td>string</td>
								<td>'swing'</td>
								<td>Transition timing function</td>
							</tr>
							<tr>
								<td>speed</td>
								<td>milliseconds</td>
								<td>500</td>
								<td>Sets duration of transition, entered as 500</td>
							</tr>
							<tr>
								<td>threshold</td>
								<td>0 -1</td>
								<td>1</td>
								<td>Determines how much of the element should be visible before aimation starts.</td>
							</tr>
							<tr>
								<td>recurring</td>
								<td>boolean</td>
								<td>false</td>
								<td>Whether animation should recur upon scrolling page up/down</td>
							</tr>
						</tbody>
					</table>
					<hr>
					<h3 id="api">API</h3>
					<p>The horizon plugin provides two callbacks; one when the element is in view and one when the element is out of view. The timing of these callbacks does depend on the threshold set.</p>
					<div class="row">
						<div class="column width-12">
							<table class="table rounded large">
								<thead>
									<tr>
										<th>Callback</th>
										<th>Description</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>inView</td>
										<td>Called once the element is in view, inView: function({})</td>
									</tr>
									<tr>
										<td>outOfView</td>
										<td>Called once the element is out of view, outOfView: function({})</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<aside class="sidebar column width-3 pull-9">
					<h3 class="widget-title">Components</h3>
					<ul class="list-group dashed width-11">
						<li>
							<a href="grid.html">Grid</a>
						</li>
						<li>
							<a href="typography.html">Typography</a>
						</li>
						<li>
							<a href="navigation.html">Navigation</a>
						</li>
						<li>
							<a href="blockquotes.html">Blockquotes</a>
						</li>
						<li>
							<a href="feature-columns.html">Feature Columns</a>
						</li>
						<li>
							<a href="feature-columns.html">Feature Columns</a>
						</li>
						<li>
							<a href="lists.html">Lists</a>
						</li>
						<li>
							<a href="buttons.html">Buttons</a>
						</li>
						<li>
							<a href="labels.html">Labels</a>
						</li>
						<li>
							<a href="dropdown.html">Dropdown</a>
						</li>
						<li>
							<a href="accordion.html">Accordion  <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="tabs.html">Tabs <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="boxes.html">Boxes</a>
						</li>
						<li>
							<a href="progress-bar.html">Progress Bars</a>
						</li>
						<li>
							<a href="images.html">Images <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="video.html">Video &amp; Audio</a>
						</li>
						<li>
							<a href="tables.html">Tables</a>
						</li>
						<li>
							<a href="pricing-tables.html">Pricing Tables</a>
						</li>
						<li>
							<a href="form-elements.html">Form Elements</a>
						</li>
						<li>
							<a href="icons.html">Icons <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
					</ul>
					<h3 class="widget-title">Classes</h3>
					<ul class="list-group dashed width-11">
						<li>
							<a href="styling-classes.html">Styling Classes</a>
						</li>
						<li>
							<a href="helper-classes.html">Helper Classes <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
					</ul>
					<h3 class="widget-title">Plugins</h3>
					<ul class="list-group dashed width-11">
						<li>
							<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li class="current">
							<span class="icon-right-open-mini"></span>
							<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
					</ul>
				</aside>
			</div>
		</div>
		<!-- Content End -->

		<!-- Footer -->
		<footer class="reveal-side-navigation">
			<div class="row large center">
				<div class="column width-12">
					<img src="../images/theme-mountain-logo.svg" alt="Theme Mountain" />
					<p class="footer-text">Handcrafted with <span class="icon-heart"></span> in the mountains.</p>
					<nav id="footer-navigation" class="navigation nav-center">
						<ul>
							<li>
								<a href="../index.html">Get Started</a>
							</li>
							<li class="current">
								<a href="grid.html">Toolkit</a>
							</li>
							<li>
								<a href="http://thememountain.com">The Mountain</a>
							</li>
							<li>
								<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
							</li>
						</ul>
					</nav>
					<p><span class="version-number">Current Version 1.0</span></p>
					<p class="copyright">&copy; 2014 THEME MOUNTAIN. <br>Framework licenced under MIT, plugins under CC BY-NC 3.0 unless otherwise specified.</p>
					<a href="#" class="scroll-to-top icon-up bkg-hover-white"></a>
				</div>
			</div> 
		</footer>
	</div>
	<!-- End Footer -->

	<!-- Js -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../js/timber.master.min.js"></script>
	<script type="text/javascript">
		$( document ).ready( function() {
			$( '.horizon' ).horizon({
				easing: 'easeInOutQuint'
			});
		});
	</script>
</body>
</html>