<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<title>Retinize | Timber Framework</title>
	<link rel="shortcut icon" type="image/x-icon" href="../images/theme-mountain-favicon.ico">
	
	<!-- Css -->
	<link rel="stylesheet" href="../css/timber.css" />
	<link rel="stylesheet" href="../css/style.css" />

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

	<!-- Mobile Menu -->
	<aside id="mobile-access" class="side-navigation-wrapper enter-right">
		<div class="side-navigation-header">
			<div class="logo">
				<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
			</div>
			<div id="side-nav-hide" class="navigation-hide">
				<a href="#">
					<span class="icon-cancel medium"></span>
				</a>
			</div>
		</div>
		<nav class="side-navigation">
			<ul>
				<li>
					<a href="../index.html">Get Started</a>
				</li>
				<li>
					<a href="#" class="contains-sub-menu">Components</a>
					<ul class="sub-menu">
						<li>
							<a href="grid.html">Grid</a>
						</li>
						<li>
							<a href="typography.html">Typography</a>
						</li>
						<li>
							<a href="navigation.html">Navigation</a>
						</li>
						<li>
							<a href="blockquotes.html">Blockquotes</a>
						</li>
						<li>
							<a href="feature-columns.html">Feature Columns</a>
						</li>
						<li>
							<a href="lists.html">Lists</a>
						</li>
						<li>
							<a href="buttons.html">Buttons</a>
						</li>
						<li>
							<a href="labels.html">Labels</a>
						</li>
						<li>
							<a href="dropdown.html">Dropdown</a>
						</li>
						<li>
							<a href="accordion.html">Accordion  <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="tabs.html">Tabs <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="boxes.html">Boxes</a>
						</li>
						<li>
							<a href="images.html">Images <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="video.html">Video &amp; Audio</a>
						</li>
						<li>
							<a href="tables.html">Tables</a>
						</li>
						<li>
							<a href="pricing-tables.html">Pricing Tables</a>
						</li>
						<li>
							<a href="form-elements.html">Form Elements</a>
						</li>
						<li>
							<a href="icons.html">Icons <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="contains-sub-menu">Classes</a>
					<ul class="sub-menu">
						<li>
							<a href="styling-classes.html">Styling Classes</a>
						</li>
						<li>
							<a href="helper-classes.html">Helper Classes <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="contains-sub-menu">Plugins</a>
					<ul class="sub-menu">
						<li>
							<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li class="current">
							<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">The Mountain</a>
				</li>
			</ul>
		</nav>
	</aside>
	<!-- Mobile Menu End -->

	<div class="wrapper">
		
		<!-- Header -->
		<header class="nav-bar reveal-side-navigation">
			<div class="row">
				<div class="column width-12">
					<div class="logo">
						<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
					</div>
					<div id="side-nav-show" class="navigation-show">
						<a href="#">
							<span class="icon-menu medium"></span>
						</a>
					</div>
					<nav class="navigation nav-right">
						<ul>
							<li>
								<a href="../index.html">Get Started</a>
							</li>
							<li class="current">
								<a href="components/grid.html">Toolkit</a>
							</li>
							<li>
								<a href="http://thememountain.com">The Mountain</a>
							</li>
							<li>
								<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<!-- Header End -->

		<!-- Content -->
		<div class="content clearfix reveal-side-navigation">
			<div class="section-header fill-background">
				<div class="page-title-container row large">
					<div class="column width-12">
						<h1>Retinize</h1>
					</div>
				</div>
			</div>
			<div class="row large">
				<div class="column width-9 push-3">
					<h2 id="retinize">Swap for Retina Displays</h2>
					<p>Retinize is small plugin that checks whether a device is retina enabled, if so, it will swap out images in the page for retina sized images. If no retina equivalent exists, it will default to the originally specified image. Also, choose whether retina swaps should occur on mobile devices or not, whether all images should be swaped or only specified images.</p>
					<hr>
					<h3>Resource Files</h3>
					<p>Retinize Images requires the following resource files:</p>
					<h5>JS</h5>
					<p>jQuery v.1.10+ and jquery.tm.retinize.js to be included before the ending body tag.</p>
					<div class="box large rounded">
						<pre><code class="js"><span class="tag">&lt;script<span class="att"> type=</span><span class="val">"text/javascript" </span><span class="att">src=</span><span class="val">"http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"</span>>&lt;/script><br>&lt;<span>script</span><span class="att"> type=</span><span class="val">"text/javascript" </span><span class="att">src=</span><span class="val">"js/jquery.tm.retinize.js"</span>>&lt;/script></span></code></pre>
					</div>
					<hr>
					<h3 id="image-tag">Img Tag</h3>
					<div class="row content-grid-2 no-margins retina-demo">
						<div class="grid-item thumbnail">
							<div class="img-container">
								<img src="../images/lightbox/thumb-6.jpg"/>
							</div>
							<div class="caption-below">
								<span>Original Image</span>
							</div>
						</div>
						<div class="grid-item thumbnail">
							<div class="img-container">
								<img id="retina-img" src="../images/lightbox/thumb-6.jpg"/>
							</div>
							<div class="caption-below">
								<span>@2x Image</span>
							</div>
						</div>
					</div>
					<hr>
					<h3 id="background-images">Background Image</h3>
					<div class="row content-grid-2 no-margins retina-demo">
						<div class="grid-item thumbnail">
							<div class="retinize-background"></div>
							<div class="caption-below">
								<span>Original Image</span>
							</div>
						</div>
						<div class="grid-item thumbnail">
							<div id="bkg-retina-img" class="retinize-background"></div>
							<div class="caption-below">
								<span>@2x Image</span>
							</div>
						</div>
					</div>
					<hr>
					<h3 id="attributes">Data Attributes</h3>
					<p>Retinize comes with a few data attributes for selectively swaping, exluding or forcing retina images on mobile.</p>
					<table class="table rounded large">
						<thead>
							<tr>
								<th>Attribute</th>
								<th>Values</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>data-2x</td>
								<td>none</td>
								<td>Instead of applying retinize to all images in the page, use data-2x to apply selectively. Added directly on the img tag or wrapper on which a background image is set.</td>
							</tr>
							<tr>
								<td>data-no-retina</td>
								<td>none</td>
								<td>Useful when retinize is used on all img tags in the page and some elements require exclusion i.e. svgs. Added directly on the img tag or wrapper on which a background image is set.</td>
							</tr>
							<tr>
								<td>data-retina-mobile</td>
								<td>none</td>
								<td>Selectively retinize images for mobile devices. Added directly on the img tag or wrapper on which a background image is set.</td>
							</tr>
						</tbody>
					</table>
					<hr>
					<h3 id="usage">Retinize Usage</h3>
					<p>To call the Retinize Images plugin on one or multiple elements the following call should be added before the closing body tag on document ready.</p>
					<div class="box large rounded">
						<pre><code class="js"><span class="tag">$( <span class="att">document</span> ).ready( function({<br>&#160;$(<span class="att"> 'img' </span>).retinizeImages()<br>});</span></code></pre>
					</div>
					<table class="table rounded large">
						<thead>
							<tr>
								<th>Attribute</th>
								<th>Values</th>
								<th>Default</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>retinaSupportMobile</td>
								<td>false</td>
								<td>boolean</td>
								<td>Whether the plugin should swap images on mobile retina enabled devices. Set to false by default to save bandwidth usage on mobile devices.</td>
							</tr>
							<tr>
								<td>retinaSuffix</td>
								<td>string</td>
								<td>'@2x'</td>
								<td>Suffix added to image urls. Example: <em>../images/myImage.jpg</em> becomes <em>../images/myImage@2x.jpg</em>.</td>
							</tr>
						</tbody>
					</table>
				</div>
				<aside class="sidebar column width-3 pull-9">
					<h3 class="widget-title">Components</h3>
					<ul class="list-group dashed width-11">
						<li>
							<a href="grid.html">Grid</a>
						</li>
						<li>
							<a href="typography.html">Typography</a>
						</li>
						<li>
							<a href="navigation.html">Navigation</a>
						</li>
						<li>
							<a href="blockquotes.html">Blockquotes</a>
						</li>
						<li>
							<a href="feature-columns.html">Feature Columns</a>
						</li>
						<li>
							<a href="feature-columns.html">Feature Columns</a>
						</li>
						<li>
							<a href="lists.html">Lists</a>
						</li>
						<li>
							<a href="buttons.html">Buttons</a>
						</li>
						<li>
							<a href="labels.html">Labels</a>
						</li>
						<li>
							<a href="dropdown.html">Dropdown</a>
						</li>
						<li>
							<a href="accordion.html">Accordion  <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="tabs.html">Tabs <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="boxes.html">Boxes</a>
						</li>
						<li>
							<a href="progress-bar.html">Progress Bars</a>
						</li>
						<li>
							<a href="images.html">Images <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="video.html">Video &amp; Audio</a>
						</li>
						<li>
							<a href="tables.html">Tables</a>
						</li>
						<li>
							<a href="pricing-tables.html">Pricing Tables</a>
						</li>
						<li>
							<a href="form-elements.html">Form Elements</a>
						</li>
						<li>
							<a href="icons.html">Icons <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
					</ul>
					<h3 class="widget-title">Classes</h3>
					<ul class="list-group dashed width-11">
						<li>
							<a href="styling-classes.html">Styling Classes</a>
						</li>
						<li>
							<a href="helper-classes.html">Helper Classes <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
					</ul>
					<h3 class="widget-title">Plugins</h3>
					<ul class="list-group dashed width-11">
						<li>
							<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li class="current">
							<span class="icon-right-open-mini"></span>
							<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
					</ul>
				</aside>
			</div>
		</div>
		<!-- Content End -->

		<!-- Footer -->
		<footer class="reveal-side-navigation">
			<div class="row large center">
				<div class="column width-12">
					<img src="../images/theme-mountain-logo.svg" alt="Theme Mountain" />
					<p class="footer-text">Handcrafted with <span class="icon-heart"></span> in the mountains.</p>
					<nav id="footer-navigation" class="navigation nav-center">
						<ul>
							<li>
								<a href="../index.html">Get Started</a>
							</li>
							<li class="current">
								<a href="grid.html">Toolkit</a>
							</li>
							<li>
								<a href="http://thememountain.com">The Mountain</a>
							</li>
							<li>
								<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
							</li>
						</ul>
					</nav>
					<p><span class="version-number">Current Version 1.0</span></p>
					<p class="copyright">&copy; 2014 THEME MOUNTAIN. <br>Framework licenced under MIT, plugins under CC BY-NC 3.0 unless otherwise specified.</p>
					<a href="#" class="scroll-to-top icon-up bkg-hover-white"></a>
				</div>
			</div> 
		</footer>
	</div>
	<!-- End Footer -->

	<!-- Js -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../js/timber.master.min.js"></script>
	<script>
		$( document ).ready( function(){
			$( '#bkg-retina-img, #retina-img, [data-2x]' ).retinizeImages();
		});
	</script>
</body>
</html>