<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<title>Swipe | Timber Framework</title>
	<link rel="shortcut icon" type="image/x-icon" href="../images/theme-mountain-favicon.ico">
	
	<!-- Css -->
	<link rel="stylesheet" href="../css/timber.css" />
	<link rel="stylesheet" href="../css/style.css" />

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

	<!-- Mobile Menu -->
	<aside id="mobile-access" class="side-navigation-wrapper enter-right">
		<div class="side-navigation-header">
			<div class="logo">
				<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
			</div>
			<div id="side-nav-hide" class="navigation-hide">
				<a href="#">
					<span class="icon-cancel medium"></span>
				</a>
			</div>
		</div>
		<nav class="side-navigation">
			<ul>
				<li>
					<a href="../index.html">Get Started</a>
				</li>
				<li>
					<a href="#" class="contains-sub-menu">Components</a>
					<ul class="sub-menu">
						<li>
							<a href="grid.html">Grid</a>
						</li>
						<li>
							<a href="typography.html">Typography</a>
						</li>
						<li>
							<a href="navigation.html">Navigation</a>
						</li>
						<li>
							<a href="blockquotes.html">Blockquotes</a>
						</li>
						<li>
							<a href="feature-columns.html">Feature Columns</a>
						</li>
						<li>
							<a href="lists.html">Lists</a>
						</li>
						<li>
							<a href="buttons.html">Buttons</a>
						</li>
						<li>
							<a href="labels.html">Labels</a>
						</li>
						<li>
							<a href="dropdown.html">Dropdown</a>
						</li>
						<li>
							<a href="accordion.html">Accordion  <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="tabs.html">Tabs <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="boxes.html">Boxes</a>
						</li>
						<li>
							<a href="images.html">Images <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="video.html">Video &amp; Audio</a>
						</li>
						<li>
							<a href="tables.html">Tables</a>
						</li>
						<li>
							<a href="pricing-tables.html">Pricing Tables</a>
						</li>
						<li>
							<a href="form-elements.html">Form Elements</a>
						</li>
						<li>
							<a href="icons.html">Icons <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="contains-sub-menu">Classes</a>
					<ul class="sub-menu">
						<li>
							<a href="styling-classes.html">Styling Classes</a>
						</li>
						<li>
							<a href="helper-classes.html">Helper Classes <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="contains-sub-menu">Plugins</a>
					<ul class="sub-menu">
						<li class="current">
							<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li class="current">
							<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">The Mountain</a>
				</li>
			</ul>
		</nav>
	</aside>
	<!-- Mobile Menu End -->

	<div class="wrapper">
		
		<!-- Header -->
		<header class="nav-bar reveal-side-navigation">
			<div class="row">
				<div class="column width-12">
					<div class="logo">
						<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
					</div>
					<div id="side-nav-show" class="navigation-show">
						<a href="#">
							<span class="icon-menu medium"></span>
						</a>
					</div>
					<nav class="navigation nav-right">
						<ul>
							<li>
								<a href="../index.html">Get Started</a>
							</li>
							<li class="current">
								<a href="components/grid.html">Toolkit</a>
							</li>
							<li>
								<a href="http://thememountain.com">The Mountain</a>
							</li>
							<li>
								<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<!-- Header End -->

		<!-- Content -->
		<div class="content clearfix reveal-side-navigation">
			<div class="section-header fill-background">
				<div class="page-title-container row large">
					<div class="column width-12">
						<h1>Swipe</h1>
					</div>
				</div>
			</div>
			<div class="row large">
				<div class="column width-9 push-3">
					<div class="touch-pane bkg-yellow">
						<div class="touch-pane-inner">
							<p>Swipe Here</p>
						</div>
					</div>
					<h2 id="swipe">Swipe Support</h2>
					<p>Swipe It is a small plugin that enables the detection of left and right swipe gestures on touch devices. </p>
					<hr>
					<h3>Resource Files</h3>
					<p>Swipe It requires the following resource files:</p>
					<h5>JS</h5>
					<p>jQuery v.1.11+ and jquery.tm.swipe.min.js to be included before the ending body tag.</p>
					<div class="box large rounded">
						<pre><code class="js"><span class="tag">&lt;script<span class="att"> type=</span><span class="val">"text/javascript" </span><span class="att">src=</span><span class="val">"http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"</span>>&lt;/script><br>&lt;<span>script</span><span class="att"> type=</span><span class="val">"text/javascript" </span><span class="att">src=</span><span class="val">"js/jquery.tm.swipe.min.js"</span>>&lt;/script></span></code></pre>
					</div>
					<hr>
					<h3 id="usage">Swipe Usage</h3>
					<p>To call the Swipe It plugin on one or multiple elements the following call should be added before the closing body tag on document ready or added to an existing plugin.</p>
					<div class="box large rounded">
						<pre><code class="js"><span class="tag">$( <span class="att">document</span> ).ready( function({<br>&#160;$(<span class="att"> '.swipeable-content' </span>).swipe({<br>&#160;<span class="att"> onSwipeEnd:</span>&#160;<span class="val">function( 'swipe' ){ </span><br>&#160;&#160;<span class="val"><span class="att"> if(<span class="val"> swipe === 'left' </span>){<br>&#160;&#160;&#160;&#160;<span class="comm">//Code to be called on left swipe</span><br>&#160;&#160;&#160;}else{<br>&#160;&#160;&#160;&#160;<span class="comm">//Code to be called on right swipe</span><br>&#160;&#160;&#160;}<br></span>&#160;&#160;}</span><br>&#160;});<br>});</span></code></pre>
					</div>
					<table class="table rounded large">
						<thead>
							<tr>
								<th>Attribute</th>
								<th>Values</th>
								<th>Default</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>swipeThreshold</td>
								<td>integer</td>
								<td>40</td>
								<td>Distance in pixels before a swipe is registered</td>
							</tr>
							<tr>
								<td>draggable</td>
								<td>boolean</td>
								<td>false</td>
								<td>Determines whether movement should be registered i.e making an element draggable</td>
							</tr>
							<tr>
								<td>preventTouchOn</td>
								<td>string</td>
								<td>no default</td>
								<td>Classes or ids which touch should not be registered for. Useful for children or where touch conflicts with scrollable elements; listed as '.no-scroll, #no-touch'</td>
							</tr>
						</tbody>
					</table>
				</div>
				<aside class="sidebar column width-3 pull-9">
					<h3 class="widget-title">Components</h3>
					<ul class="list-group dashed width-11">
						<li>
							<a href="grid.html">Grid</a>
						</li>
						<li>
							<a href="typography.html">Typography</a>
						</li>
						<li>
							<a href="navigation.html">Navigation</a>
						</li>
						<li>
							<a href="blockquotes.html">Blockquotes</a>
						</li>
						<li>
							<a href="feature-columns.html">Feature Columns</a>
						</li>
						<li>
							<a href="feature-columns.html">Feature Columns</a>
						</li>
						<li>
							<a href="lists.html">Lists</a>
						</li>
						<li>
							<a href="buttons.html">Buttons</a>
						</li>
						<li>
							<a href="labels.html">Labels</a>
						</li>
						<li>
							<a href="dropdown.html">Dropdown</a>
						</li>
						<li>
							<a href="accordion.html">Accordion  <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="tabs.html">Tabs <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="boxes.html">Boxes</a>
						</li>
						<li>
							<a href="progress-bar.html">Progress Bars</a>
						</li>
						<li>
							<a href="images.html">Images <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="video.html">Video &amp; Audio</a>
						</li>
						<li>
							<a href="tables.html">Tables</a>
						</li>
						<li>
							<a href="pricing-tables.html">Pricing Tables</a>
						</li>
						<li>
							<a href="form-elements.html">Form Elements</a>
						</li>
						<li>
							<a href="icons.html">Icons <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
					</ul>
					<h3 class="widget-title">Classes</h3>
					<ul class="list-group dashed width-11">
						<li>
							<a href="styling-classes.html">Styling Classes</a>
						</li>
						<li>
							<a href="helper-classes.html">Helper Classes <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
					</ul>
					<h3 class="widget-title">Plugins</h3>
					<ul class="list-group dashed width-11">
						<li>
							<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li class="current">
							<span class="icon-right-open-mini"></span>
							<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
					</ul>
				</aside>
			</div>
		</div>
		<!-- Content End -->

		<!-- Footer -->
		<footer class="reveal-side-navigation">
			<div class="row large center">
				<div class="column width-12">
					<img src="../images/theme-mountain-logo.svg" alt="Theme Mountain" />
					<p class="footer-text">Handcrafted with <span class="icon-heart"></span> in the mountains.</p>
					<nav id="footer-navigation" class="navigation nav-center">
						<ul>
							<li>
								<a href="../index.html">Get Started</a>
							</li>
							<li class="current">
								<a href="grid.html">Toolkit</a>
							</li>
							<li>
								<a href="http://thememountain.com">The Mountain</a>
							</li>
							<li>
								<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
							</li>
						</ul>
					</nav>
					<p><span class="version-number">Current Version 1.0</span></p>
					<p class="copyright">&copy; 2014 THEME MOUNTAIN. <br>Framework licenced under MIT, plugins under CC BY-NC 3.0 unless otherwise specified.</p>
					<a href="#" class="scroll-to-top icon-up bkg-hover-white"></a>
				</div>
			</div> 
		</footer>
	</div>
	<!-- End Footer -->

	<!-- Js -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../js/timber.master.min.js"></script>
	<script type="text/javascript">
		$( document ).ready( function(){
			var content = $( '.touch-pane' );
			content.swipeIt({
				onSwipeEnd: function( swipe ) {
					if( swipe === 'left' ){
						content.addClass( 'bkg-red' );
						content.find( 'p' ).html( 'That was a left to right swipe' );
					}else{
						content.removeClass( 'bkg-red' );
						content.find( 'p' ).html( 'That was a right to left swipe' );
					}
				}
			});
		});
	</script>
</body>
</html>