<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<title>Typography | Timber Framework</title>
	<link rel="shortcut icon" type="image/x-icon" href="../images/theme-mountain-favicon.ico">
	
	<!-- Css -->
	<link rel="stylesheet" href="../css/timber.css" />
	<link rel="stylesheet" href="../css/style.css" />

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

	<!-- Mobile Menu -->
	<aside id="mobile-access" class="side-navigation-wrapper enter-right">
		<div class="side-navigation-header">
			<div class="logo">
				<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
			</div>
			<div id="side-nav-hide" class="navigation-hide">
				<a href="#">
					<span class="icon-cancel medium"></span>
				</a>
			</div>
		</div>
		<nav class="side-navigation">
			<ul>
				<li>
					<a href="../index.html">Get Started</a>
				</li>
				<li>
					<a href="#" class="contains-sub-menu">Components</a>
					<ul class="sub-menu">
						<li>
							<a href="grid.html">Grid</a>
						</li>
						<li class="current">
							<a href="typography.html">Typography</a>
						</li>
						<li>
							<a href="blockquotes.html">Blockquotes</a>
						</li>
						<li>
							<a href="feature-columns.html">Feature Columns</a>
						</li>
						<li>
							<a href="lists.html">Lists</a>
						</li>
						<li>
							<a href="buttons.html">Buttons</a>
						</li>
						<li>
							<a href="labels.html">Labels</a>
						</li>
						<li>
							<a href="dropdown.html">Dropdown</a>
						</li>
						<li>
							<a href="accordion.html">Accordion  <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="tabs.html">Tabs <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="boxes.html">Boxes</a>
						</li>
						<li>
							<a href="images.html">Images <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="video.html">Video &amp; Audio</a>
						</li>
						<li>
							<a href="tables.html">Tables</a>
						</li>
						<li>
							<a href="pricing-tables.html">Pricing Tables</a>
						</li>
						<li>
							<a href="form-elements.html">Form Elements</a>
						</li>
						<li>
							<a href="icons.html">Icons <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="contains-sub-menu">Classes</a>
					<ul class="sub-menu">
						<li>
							<a href="styling-classes.html">Styling Classes</a>
						</li>
						<li>
							<a href="helper-classes.html">Helper Classes <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="contains-sub-menu">Plugins</a>
					<ul class="sub-menu">
						<li>
							<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">The Mountain</a>
				</li>
			</ul>
		</nav>
	</aside>
	<!-- Mobile Menu End -->

	<div class="wrapper">
		
		<!-- Header -->
		<header class="nav-bar reveal-side-navigation">
			<div class="row">
				<div class="column width-12">
					<div class="logo">
						<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
					</div>
					<div id="side-nav-show" class="navigation-show">
						<a href="#">
							<span class="icon-menu medium"></span>
						</a>
					</div>
					<nav class="navigation nav-right">
						<ul>
							<li>
								<a href="../index.html">Get Started</a>
							</li>
							<li class="current">
								<a href="components/grid.html">Toolkit</a>
							</li>
							<li>
								<a href="http://thememountain.com">The Mountain</a>
							</li>
							<li>
								<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<!-- Header End -->

		<!-- Content -->
		<div class="content clearfix reveal-side-navigation">
			<div class="section-header fill-background">
				<div class="page-title-container row large">
					<div class="column width-12">
						<h1>Typography</h1>
					</div>
				</div>
			</div>
			<div class="row large">
				<div class="column width-9 push-3">
					<h1 id="intro">Heading 1</h1>
					<p>El illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
					<h2>Heading 2</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
					<h3>Heading 3</h3>
					<p>El illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
					<h4>Heading 4</h4>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
					<h5>Heading 5</h5>
					<p>El illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
					<h6>Heading 6</h6>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
					<hr>
					<h2 id="lead-paragraph">Leading Paragraph</h2>
					<p class="lead">Create a lead paragraph by using the <span class="label border-green color-green rounded">.lead</span> class.</p>
					<p>El illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
					<h5>HTML</h5>
					<div class="box large rounded xlarge">
						<pre><code class="html"><span class="tag">&lt;<span class="type">p</span> <span class="att">class=</span><span class="val">"lead"</span>>Lead Paragraph&lt;<span class="type">/p></span></span></code></pre>
					</div>
				</div>
				<aside class="sidebar column width-3 pull-9">
					<h3 class="widget-title">Components</h3>
					<ul class="list-group dashed width-11">
						<li>
							<a href="grid.html">Grid</a>
						</li>
						<li class="current">
							<span class="icon-right-open-mini"></span>
							<a href="typography.html">Typography</a>
						</li>
						<li>
							<a href="navigation.html">Navigation</a>
						</li>
						<li>
							<a href="blockquotes.html">Blockquotes</a>
						</li>
						<li>
							<a href="feature-columns.html">Feature Columns</a>
						</li>
						<li>
							<a href="lists.html">Lists</a>
						</li>
						<li>
							<a href="buttons.html">Buttons</a>
						</li>
						<li>
							<a href="labels.html">Labels</a>
						</li>
						<li>
							<a href="dropdown.html">Dropdown</a>
						</li>
						<li>
							<a href="accordion.html">Accordion  <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="tabs.html">Tabs <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="boxes.html">Boxes</a>
						</li>
						<li>
							<a href="progress-bar.html">Progress Bars</a>
						</li>
						<li>
							<a href="images.html">Images <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
						<li>
							<a href="video.html">Video &amp; Audio</a>
						</li>
						<li>
							<a href="tables.html">Tables</a>
						</li>
						<li>
							<a href="pricing-tables.html">Pricing Tables</a>
						</li>
						<li>
							<a href="form-elements.html">Form Elements</a>
						</li>
						<li>
							<a href="icons.html">Icons <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
					</ul>
					<h3 class="widget-title">Classes</h3>
					<ul class="list-group dashed width-11">
						<li>
							<a href="styling-classes.html">Styling Classes</a>
						</li>
						<li>
							<a href="helper-classes.html">Helper Classes <span class="label bkg-red color-white rounded small">Updated</span></a>
						</li>
					</ul>
					<h3 class="widget-title">Plugins</h3>
					<ul class="list-group dashed width-11">
						<li>
							<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-blue color-white rounded small">Premium</span></a>
						</li>
						<li>
							<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
						<li>
							<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
						</li>
					</ul>
				</aside>
			</div>
		</div>
		<!-- Content End -->

		<!-- Footer -->
		<footer class="reveal-side-navigation">
			<div class="row large center">
				<div class="column width-12">
					<img src="../images/theme-mountain-logo.svg" alt="Theme Mountain" />
					<p class="footer-text">Handcrafted with <span class="icon-heart"></span> in the mountains.</p>
					<nav id="footer-navigation" class="navigation nav-center">
						<ul>
							<li>
								<a href="../index.html">Get Started</a>
							</li>
							<li class="current">
								<a href="grid.html">Toolkit</a>
							</li>
							<li>
								<a href="http://thememountain.com">The Mountain</a>
							</li>
							<li>
								<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
							</li>
						</ul>
					</nav>
					<p><span class="version-number">Current Version 1.0</span></p>
					<p class="copyright">&copy; 2014 THEME MOUNTAIN. <br>Framework licenced under MIT, plugins under CC BY-NC 3.0 unless otherwise specified.</p>
					<a href="#" class="scroll-to-top icon-up bkg-hover-white"></a>
				</div>
			</div> 
		</footer>
	</div>
	<!-- End Footer -->

	<!-- Js -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../js/timber.master.min.js"></script>
</body>
</html>